//- This is a confirmation to excecute the deletion
Are you sure you want to delete #{appname}? 
a(href="/apps/"+appname+"/delete",rel="delete",data-params="appname="+appname, class="app-delete button redgrad r5") Yes, Definitely Delete
